div ol li{
    background-color: yellow;
}

div.frases ol li:nth-child(even){
    color:green;
}

div ol li.primo{
    text-transform:uppercase;
}

h1, h2, h3{
    color:red
}

h1, h2, h3 em{
    font-size: 40px;
    border: 1px solid black;
}

li{
    font-size:20px;
}

li em{
    font-weight: bold;
}

div.linguagens ul li:nth-child(-n+3){
    color:blue;
} 

div.linguagens ul li.java{
    background-color:rgb(255, 0, 242);
}

div.aliados ul li a[href*="stack"]:hover{
    font-weight: bold;
    color:orange;
}

div.aliados ul li a[href*="w3s"]:hover{
    font-weight: bold;
    color:green;
}

div.aliados ul li a[href*="developer"]:hover{
    font-weight: bold;
    color:black;
}

div.aliados ul li a[href*="devdocs"]:hover{
    font-weight: bold;
    color:yellow;
}

div.aliados ul li a[href*="trybe"]:hover{
    font-weight: bold;
    color:green
}










