.super-mario{
    position:absolute;
    z-index:1;
    margin:50px
}

.goomba{
    position:absolute;
    top: 1300px;
    z-index:1;
    margin:50px
}

.bowser{
    position:absolute;
    top: 3000px;
    z-index:1;
    margin:50px
}

.baloon{
    position:absolute;
    z-index:4;
}

.word{
    position:absolute;
    z-index:5;
    top:50px;
    left:100px;
}

div{
    top:2800px;
    position:absolute;
    margin:50px
}