.forms-container {

}

.register-form {
  display: flex;
  flex-direction: column; 
  padding: 30px;
}

.input {
  height: 18px;
  margin-bottom: 15px;
  margin-left: 10px;
  width: 200px;
}

.submit-button {
  width: 200px;
}

.select-state {
  margin-bottom: 15px;
}

.select-home {
  margin-bottom: 15px;
}