html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
}

.menu {
  margin: 0;
  background-color: rgb(202, 199, 199);
  color: white;
  font-size: 6vw;

}

header {
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 10px;
}

h2 {
  text-align: center;
}

nav {
  display: flex;
  align-items: center;
  justify-content:center;
}

ul {
  list-style: none;
}

li {
  margin: 10px
}

footer {
  margin: 10px;
}

footer h3 {
  text-align: center;
}

header p {
  text-align: center;
  font-weight: bold;
  margin: 7vw;
}

article.main-content h1 {
  text-align: center;
  margin-bottom: 7vw;
}

article.main-content h1 p {
  text-align: justify;
}


nav ul {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-inline-start: 0;
}

@media screen and (max-width: 484px) {
  h2 {
    font-size: 1.3em;
    margin-bottom: 8vw;
  }

  header p {
    font-size: 1.8em;
  }

  article.main-content h1 {
    font-size: 1.8em;
  }

  main ul {
    margin-bottom: 10vw;
  }

  nav ul {
    font-size: 1em;
  }

  a {
    color: black;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  nav {
    height: 15vw;
  }
}

@media screen and (width-min: 485px) and  {
  
}