body {
	display: flex;
	flex-direction: column;
	padding: 3px 3px;
	align-items: stretch;
	text-align: justify;
	font-size: 18px;
	margin: 10px;
}

h1 {
	text-align: center;
	font-size: 1.8em;
}

h2 {
	text-align: center;
	font-size: 1.3em;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
}

figcaption {
	margin-bottom: 15px;
}